<html>
	<head>
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="css/font-awesome.min.css"></link>
		<link rel="stylesheet" href="css/style.css"></link>
	</head>
	<body>
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 menu">
				<img src="img/max_zombie.jpg" class="profile_pic img-responsive img-rounded" alt="...">
				<h1> Max Rogers </h1>
				<div class="social_btns">
					<a href="#"><i class="fa fa-github-square fa-3x"></i></a>
					<a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
					<a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
					<a href="#"><i class="fa fa-envelope-square fa-3x"></i></a>
				</div>
				<div class="links">
					<a href="#">Home</a><br>
					<a href="#">About</a><br>
					<a href="#">Unhackathon</a><br>
				</div>
			</div>
 			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 posts ">
 				<div class="post">
 					<h1 class="title"><a href="tut0.html">Git and Unix/Command Line</a> </h1>
 					<h3> Crash Course Part 0</h3>
 					<p class="tags"><i class="fa fa-paperclip"></i> Git, Ubuntu, Mac OS X, Terminal, Brew, Apt-get, Sudo </p>
 					<p class="blurb"> If you want to develop like a true web developer then you need to get started with the correct foundation. In this tutorial we will cover the basics of GIT and UNIX termanial commands. These technologies aren't necessary for web development but they will make your life much easier in the long run. </p>
 					<a class="article_link" href="tut0.html">Get Started Here!</a>
 					<hr>
 				</div>
 				<div class="post">
 					<h1 class="title"><a href="#">HTML The Skeleton</a></h1>
 					<h3> Crash Course Part 1</h3>
 					<p class="blurb"> A web application can be though of as a body and every body has a skeleton  to hold it together. HTML is that bone structure</p>
 					<a href="#" class="article_link">Get Started Here!</a>
 					<hr>
 				</div>
 				<div class="post">
 					<h1 class="title"><a href="#">Javascript The Muscles</a></h1>
 					<h3> Crash Course Part 2</h3>
 					<p class="blurb"> Continuing our body metaphor, Javascript acts like the muslces. It is the frontend scripting language which makes everything change and move around. In this tutorial we will cover basic event triggers and element manipulations with JQuery</p>
 					<a href="#" class="article_link">Get Started Here!</a>
 					<hr>
 				</div>
 				<div class="post">
 					<h1 class="title"><a href="#">CSS the Skin</a></h1>
 					<h3> Crash Course Part 3</h3>
 					<p class="blurb"> Now lets doll this lady up with CSS. Cascading Style Sheets(CSS) are what gives your HTML elements life and color. We will cover the basics of CSS like the Box model as well as introduce Bootstrap </p>
 					<a href="#" class="article_link">Get Started Here!</a>
 					<hr>
 				</div>
 				<div class="post">
 					<h1 class="title"><a href="#">Its Alive with Ruby</a></h1>
 					<h3> Crash Course Part 4</h3>
 					<p class="blurb"> Now, you may be wondering how to make this website dynamic? There are many ways to accomplish this. As of 2014 the 3 most popular solutions are PHP, Python and Ruby. In this tutorial I will be covering how to build a simple dynamic website using Ruby-Sinatra</p>
 					<a href="#" class="article_link">Get Started Here!</a>
 					<hr>
 				</div>
 				<div class="post">
 					<hr>
 				</div>
 				<div class="post">
 					<hr>
 				</div>
 			</div>
		</div>
	</body>
</html>