<html>
	<head>
		<script src="js/jquery.min.js"></script>
		<link rel="stylesheet" href="css/font-awesome.min.css"></link>
		<link rel="stylesheet" href="css/bootstrap.min.css"></link>
		<link rel="stylesheet" href="css/style3.css"></link>

		<link rel="icon" 
      		  type="image/jpg" 
      		  href="/img/fav_icon.jpg" />
	</head>
	<body>
		<%= yield %>
	</body>
</html>