<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 col-xs-12">
		<header>
			<img src="img/html5.png" class="img-rounded img-responsive logo">
			<h1> Tutorial 1: Html and your Browser</h1>
			<h2> Crash Course Part 1 </h2>
	 		<h3><i class="fa fa-paperclip"></i> HTML, DOM, Chrome</h3>
 		</header>
 		<div class="meat">
 			<ol>
 				<li> Internet...how does that work?</li>
 				<li> Under the Hood </li>
 				<li> What is Html? </li>
 				<li> Hello World </li>
 				<li> Tags Sale!! </li>
 			</ol>
 			<div>
 				<p>Internet is a global network of computer systems. Thats obvious but what does that mean to you? </p>
 			</div>
 		</div>
	</div>
	<div class="col-sm-2"></div>
</div>