<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-sm-8 col-xs-12">
		<header>
			<img src="img/html5.png" class="img-rounded img-responsive logo">
			<h1> Tutorial 1: Html and your Browser</h1>
			<h2> Crash Course Part 1 </h2>
	 		<h3><i class="fa fa-paperclip"></i> HTML, DOM, Chrome</h3>
 		</header>
 		<div class="meat">
 			<ol>
 				<li> Internet...what is it?</li>
 				<li> Under the Hood </li>
 				<li> What is Html? </li>
 				<li> Hello World </li>
 				<li> Tags Sale!! </li>
 			</ol>
 			<h2> Internet...what is it? </h2>
 			<div>
 				<p>Internet is a global network of computer systems. Communicating by sending long string messages encoded as electrical signals across cables. Thats obvious but what does that mean to you? </p>
 				<p> In most web development, we only care about the top layer of the internet -- The Application layer. Here we deal with the HTTP protocol. HTTP is short for Hyper Text Transfer Protocol. Essentially, this is how we send text across the Net. For example, when you type in <a href="http://google.com"> google.com </a> into your browser. What you are actually sending is <a href="http://google.com"> http://www.google.com </a>. Notice the http:// in front? that is the http protocol. There are other application layer protocols : git, fts, ssh and many others. We may use some of them but for the most part we use http and its more secured offspring https. </p>
 			</div>

 			<h2> Under the Hood </h2>
 			<div>
 				<p>So lets take a peak under the hood of your browser. In this tutorial I will be using Chrome since its the most popular browser and cross platform. <i>EVEN LINUX, download Chromium</i></p>
 				<p>Right click on some random spot on this page then select on <b> Inspect Element</b> </p>
 				<p>This will provide for you a new console and you can inspect this page. Under the Elements tab,You will see the compiled html and the computed css on the right side. Either one you can manipulate however when you fresh the page you will see that your changes dont stay. This is because these are just copies of the original documents hosted on the server. </p> 
 				<p>Click on the Resources tab, you will see all the data files, in the Frames folder you will see the HTML, CSS, Javascript and Image files. Lower you will notice the infamous Cookies. Cookies are actually long strings given to the browser by a domain(a website). Cookies are useful for storing user-session data and authenication tokens so users don't need to sign in again when returning to a familiar site. Unforunately this data is public, so you probably know cookies more from their malicious uses -- Tracking Cookies. In response to this missuse HTML5 has introduced a few new alternatives. The first is Local Storage and the other is Session Storage. These alternatives are never sent to the server, can only be requested for the site that saved it and are stored within the broswer. The difference between Local Storage and Session Storage is simple, Local Storage is permanently stored within the Browser while Session Storage is deleted when you close that tab. We will discuss how to use these 3 data storage options in the next tutorial, the Javascript tutorial. </p>
 				<p> The next tab of interest is the Network tab.
 				</p>
 			</div>
 		</div>
	</div>
	<div class="col-sm-2"></div>
</div>